* {
  box-sizing: border-box;
}

body {
}

header {
}

header > img {
}

nav {
}

nav > a {
}

main {
}

main > div {
}

div > p:nth-of-type(1) {
  background-color: yellow;
}
div > p:nth-of-type(2) {
  background-color: green;
}
div > p:nth-of-type(3) {
  background-color: red;
}

div > div:nth-of-type(1) {
  background-color: blue;
}
div > div:nth-of-type(2) {
  background-color: violet;
}

div > div:nth-of-type(2) > a:first-child {
}
div > div:nth-of-type(2) > a:last-child {
}

main > img {
}

footer {
}

footer > div {
}

footer > div > a {
}

footer > p {
}
