/* css custom properties -> "css kintamieji" */

* {
  box-sizing: border-box;
}

body {
}

header,
main,
footer {
  --w: 1000px;
  width: var(--w);
  margin: 0 calc((100% - var(--w)) / 2);
}

header > img {
}

nav {
}

nav > a {
}

main > div {
}

div > p:nth-of-type(1) {
}
div > p:nth-of-type(2) {
}
div > p:nth-of-type(3) {
}

div > div:nth-of-type(1) {
}
div > div:nth-of-type(2) {
}

div > div:nth-of-type(2) > a:first-child {
}
div > div:nth-of-type(2) > a:last-child {
}

main > img {
}

footer > div {
}

footer > div > a {
}

footer > p {
}
